@import url(http://fonts.googleapis.com/css?family=Lora|Philosopher|Marcellus);
@media screen, projection, tv {
  #contents {
    width: 60%;
    margin: 80px auto;
    padding: 40px;
    border: 1px dashed #505050;
  }
}
@media screen and (min-width: 673px) and (max-width: 960px) {
  #contents {
    width: 576px;
    margin: 8.3% auto;
    padding: 40px;
    border: 1px dashed #505050;
  }
}
@media screen and (max-width: 672px) {
  #contents {
    width: 88%;
    margin: 0px;
    padding: 6%;
    border: none;
  }
  #modeswitcher {
    margin: 0px;
    width: 100%;
    text-align: right;
    font-size: 80%;
  }
}
@media screen and (max-width: 572px) {
  #contents {
    width: 94%;
    padding: 3%;
  }
}
/* See the bottom of the file for @media print settings.  They go at the bottom
 * to override everything else.
 */

body {
  margin: 0;
  color: #000000;
  font-size: 10pt;
  font-family: Lora;
}
h1, h2, .h3 {
  font-family: Marcellus;
  /* Marcellus has no bold weight, which is the default user style for
  headlines.  Some agents (such as Chrome) will try to fake the bolding,
  but this process is buggy (particularly with printing) and the normal
  weight looks better anyhow. */
  font-weight: normal;
}
@media screen and (min-width: 673px) {
  #modeswitcher {
    width: 100%;
    text-align: right;
    margin-top: -30px;
    margin-left: 30px;
    font-size: 80%;
  }
}
#header {
  margin-top: 4ex;
}
h1 {
  float: left;
  width: 42%;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0px;
}
#contact_left {
  float: left;
  width: 29%;
  margin: 0px;
}
#contact_right {
  float: right;
  text-align: right;
  width: 29%;
  margin: 0px;
}
#contact_left p {
  margin: 0px;
  padding-left: 1em;
  text-indent: -1em;
}
#contact_right p {
  margin: 0px;
}
@media screen and (max-width: 572px) {
  h1, #contact_left, #contact_right {
    display: block;
    float: none;
    width: auto;
    text-align: left;
    margin: 1ex 0px 2ex 0px;
  }
}
#blocker {
  clear: both;
}
h2 {
  margin-top: 3.5ex;
  border-top: 1pt dashed #707070;
  padding-top: 2ex;
  background-image: linear-gradient(top, #F3F7FC 0%, #FFFFFF 25%);
  background-image: -o-linear-gradient(top, #F3F7FC 0%, #FFFFFF 25%);
  background-image: -moz-linear-gradient(top, #F3F7FC 0%, #FFFFFF 25%);
  background-image: -webkit-linear-gradient(top, #F3F7FC 0%, #FFFFFF 25%);
  background-image: -ms-linear-gradient(top, #F3F7FC 0%, #FFFFFF 25%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F3F7FC),
    color-stop(0.25, #FFFFFF)
  );
}
@media screen and (max-width: 572px) {
  h2 {
    margin-top: 2ex;
    padding-top: 1ex;
  }
}
.h3 {
  font-size: 115%;
  margin: 1em 0em 1ex 0em;
}
@media print {
  h2 {
    margin: 0.8ex 0ex 0.4ex 0ex;
    border-top: 1pt dashed #505050;
    padding-top: 0.8ex;
    background-image: none;
    page-break-after: avoid;
  }
  .h3 {
    margin: 0.9ex 0ex 0.7ex 0ex;
  }
}
dt {
  margin-top: 2ex;
  margin-bottom: 0.5ex;
}
#education dt {
  margin-top: 1ex;
}
#diss_line, #diss_line dt {
  margin: 0.5ex 0ex;
}
dd {
  margin-left: 1.5em;
}
ul {
  margin: 0px;
  padding-left: 1.5em;
}
li {
  margin: 0.5ex 0em;
}
#pubs li {
  margin-bottom: 1.5ex;
}
.date {
  float: right;
  margin-left: 1em;
}
li .date {
  font-size: 85%;
  margin-top: 0.15em;
}
@media screen and (max-width: 572px) {
  dd {
    margin-left: 0.8em;
  }
  ul {
    padding-left: 0.6em;
  }
  li {
    margin: 0.2ex 0em;
  }
}
@media print {
  dl {
    margin-top: 0ex;
  }
  dt {
    margin-top: 1ex;
    margin-bottom: 0.3ex;
  }
  #education dt {
    margin-top: 0.6ex;
  }
  #diss_line, #diss_line dt {
    margin: 0.3ex 0ex;
  }
  li {
    margin: 0.3ex 0em;
  }
  #pubs li {
    font-size: 80%;
    margin-bottom: 1.3ex;
  }
}
a:link, a:visited, a:active {
  color: inherit;
  border-bottom: 1px solid #E0E4F0;
  text-decoration: none;
}
a:hover {
  background-color: #FFFF00;
  text-decoration: none;
}
@media print {
  a:link, a:visited, a:active {
    text-decoration: none;
    border-width: 0px;
    color: inherit;
    background-color: none;
  }
}

.print_show {
  display: none;
}
.txt_only {
  display: none;
}
.cv_only {
  display: none;
}

@media print {
  #contents {
    /* As of 2016, we're printing the resumé with Chrome.  To get proper page
     * margins in the printed output, set them to 0.75" on left, right, and
     * bottom, and 0.4" on top.  The CSS mostly stays out of the way.
     */
    width: 100%;
    margin: 0in;
    
    /* In the past, we used Safari to print the resumé, because it had better
     * font rendering (particularly for bold text).  But its handling of margins
     * was a disaster; it put 0.25" on top, left, right and 0.5" on bottom, on
     * each piece of paper., regardless of what settings you tweaked.  This led
     * to the following considerations:
     *   The first-page top positioning of the main #header div is correct by
     * virtue of four lengths adding together: 0.25" from Safari, 0.25" from
     * #contents's margin, 0.2" from #header's padding, and 0.05" of headroom
     * from the font.
     *   The second-page header is handled by hand-tuned hacky values directly
     * in the HTML.
     */
    /*margin: 0.25in 0.5in 0.25in 0.5in;*/
    
    padding: 0in;
    font-size: 80%;
    border: none;
  }
  #header {
    margin-top: 0in;
    
    /* Formerly 0.2in for Safari. */
    padding-top: 0.3in;
  }
  #modeswitcher {
    display: none;
  }
  .print_hide {
    display: none;
  }
  
  /* The "skills" section starts right at the top of Page 2. */
  #skills h2 {
    border-top: none;
    margin-top: 0in;
    padding-top: 0in;
  }
}
